<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~
  ~ Copyright 2020 Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<module xmlns="urn:jboss:module:1.9" name="wildflyee.api">
    <dependencies>
        <module name="jakarta.activation.api" export="true" optional="true" />
        <module name="jakarta.annotation.api" export="true" optional="true" />
        <module name="jakarta.batch.api" export="true" optional="true" />
        <module name="jakarta.ejb.api" export="true" optional="true" />
        <module name="jakarta.enterprise.api" export="true" optional="true" />
        <module name="jakarta.enterprise.concurrent.api" export="true" optional="true" />
        <module name="jakarta.inject.api" export="true" optional="true" />
        <module name="jakarta.interceptor.api" export="true" optional="true" />
        <module name="jakarta.json.api" export="true" optional="true" />
        <module name="jakarta.jms.api" export="true" optional="true" />
        <module name="jakarta.xml.ws.api" export="true" optional="true" />
        <module name="jakarta.mail.api" export="true" optional="true" />
        <module name="jakarta.persistence.api" export="true" optional="true" />
        <module name="jakarta.resource.api" export="true" optional="true" />
        <module name="javax.rmi.api" export="true" optional="true" />
        <module name="jakarta.security.auth.message.api" export="true" optional="true" />
        <module name="jakarta.security.jacc.api" export="true" optional="true" />
        <module name="jakarta.servlet.api" export="true" optional="true" />
        <module name="jakarta.servlet.jsp.api" export="true" optional="true" />
        <module name="jakarta.transaction.api" export="true" optional="true" />
        <module name="jakarta.validation.api" export="true" optional="true" />
        <module name="jakarta.ws.rs.api" export="true" services="export" optional="true" />
        <module name="jakarta.websocket.api" export="true" optional="true" />
        <module name="jakarta.xml.bind.api" export="true" optional="true" />
        <module name="jakarta.xml.soap.api" export="true" optional="true" />
        <module name="jakarta.xml.ws.api" export="true" optional="true" />
        <module name="org.glassfish.expressly" export="true" optional="true" />
        <module name="org.omg.api" export="true" optional="true" />
        <!-- This one always goes last. -->
        <module name="java.se" export="true" optional="true" />
    </dependencies>
</module>
