<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.eclipse.jgit">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.eclipse.jgit:org.eclipse.jgit}"/>
        <artifact name="${org.eclipse.jgit:org.eclipse.jgit.ssh.apache}"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.security.jgss"/>
        <module name="java.sql"/>
        <module name="java.xml"/>
        <module name="org.slf4j"/>
        <module name="org.slf4j.impl"/>
        <module name="org.apache.sshd"/>
        <module name="com.googlecode.javaewah"/>
        <module name="org.apache.httpcomponents.core"/>
        <module name="org.bouncycastle.bcpg"/>
        <module name="org.bouncycastle.bcpkix"/>
        <module name="org.bouncycastle.bcprov"/>
    </dependencies>
</module>
