<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.aesh">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.aesh:aesh-extensions}"/>
        <artifact name="${org.aesh:readline}"/>
        <artifact name="${org.aesh:aesh}"/>
    </resources>

    <dependencies>
        <module name="jdk.unsupported"/>
        <module name="java.logging"/>
        <module name="org.fusesource.jansi" />
    </dependencies>
</module>
