<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.apache.sshd">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.apache.sshd:sshd-common}"/>
        <artifact name="${org.apache.sshd:sshd-core}"/>
    </resources>

    <dependencies>
        <module name="org.bouncycastle.bcpg"/>
        <module name="org.bouncycastle.bcpkix"/>
        <module name="org.bouncycastle.bcprov"/>
        <module name="org.slf4j"/>
        <module name="org.slf4j.impl"/>
        <module name="java.logging"/>
        <module name="java.rmi"/>
        <module name="java.management"/>
    </dependencies>
</module>