<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.msc">

    <properties>
        <property name="jboss.require-java-version" value="11"/>
    </properties>

    <main-class name="org.jboss.msc.Version"/>

    <resources>
        <artifact name="${org.jboss.msc:jboss-msc}"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.management"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.threads"/>
    </dependencies>

</module>
