<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.6" name="org.jboss.logging">
    <resources>
        <artifact name="org.jboss.logging:jboss-logging:${version.org.jboss.logging.jboss-logging}"/>
    </resources>

    <dependencies>
        <module name="org.jboss.logmanager"/>
    </dependencies>
</module>
