<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.remoting">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.jboss.remoting:jboss-remoting}"/>
    </resources>

    <dependencies>
        <module name="java.management"/>
        <module name="java.security.sasl"/>
        <module name="java.xml"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.marshalling" export="true"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.xnio" export="true"/>
        <module name="org.jboss.xnio.nio" services="import"/>
        <module name="org.wildfly.security.elytron-private" services="import"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.client.config"/>
    </dependencies>
</module>
