<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.wildfly.security.elytron-private">
    <properties>
        <!--
             Although this module is private see the module 'org.wildfly.security.elytron' for the re-exported public API.
         -->
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
    </resources>

    <dependencies>
        <!--
        This is only exported because some of the ElytronXmlParser methods throw an exception in this module. If other
        modules use the parser, they need to have visibility to this module.
        -->
        <module name="org.wildfly.client.config" export="true"/>
        <!-- The artifacts in these dependencies were previously exported by this module. -->
        <module name="org.wildfly.security.elytron-base" services="export" export="true"/>
        <module name="org.wildfly.security.jakarta.authentication" export="true"/>
        <module name="org.wildfly.security.jakarta.authorization" export="true"/>
    </dependencies>
</module>