<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="org.wildfly.security.jakarta.authentication">
    <properties>
        <!--
             Although this module is private see the module 'org.wildfly.security.elytron' for the re-exported public API.
         -->
        <property name="jboss.api" value="private"/>
    </properties>

    <exports>
        <exclude path="org/wildfly/security/auth/jaspi/_private"/>
    </exports>

    <resources>
        <artifact name="${org.wildfly.security.jakarta:jakarta-authentication}"/>
    </resources>

    <dependencies>
        <module name="jdk.security.auth"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.logmanager"/>
        <module name="jakarta.security.auth.message.api"/>
        <module name="jakarta.servlet.api" optional="true"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.security.elytron-base"/>
    </dependencies>
</module>
