<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.security.http.sfbasic">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly.security:wildfly-elytron-http-stateful-basic}"/>
    </resources>

    <dependencies>
        <module name="org.wildfly.security.elytron-base"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>