<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~
  ~ Copyright 2020 Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<module xmlns="urn:jboss:module:1.9" name="org.apache.logging.log4j.api">

    <properties>
        <property name="jboss.api" value="public"/>
    </properties>

    <resources>
        <artifact name="${org.apache.logging.log4j:log4j-api}"/>
    </resources>

    <dependencies>
        <!--
            This is a circular dependency to avoid adding the private implementation to a dependent module. The API uses
            static variables for the providers and factories. These are located through a custom service loader and we
            should bind to this implementation only. Users wanting to not use this implementation need to also not use
            this API.
        -->
        <module name="org.jboss.logmanager.log4j2" services="import"/>
    </dependencies>
</module>