<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2017, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.5" name="org.wildfly.security.elytron">

    <!--
    <exports>
        <exclude path="org/wildfly/security/asn1"/>
        <exclude path="org/wildfly/security/auth/realm"/>
        <exclude path="org/wildfly/security/auth/realm/jdbc"/>
        <exclude path="org/wildfly/security/auth/realm/jdbc/mapper"/>
        <exclude path="org/wildfly/security/auth/realm/ldap"/>
        <exclude path="org/wildfly/security/auth/realm/token"/>
        <exclude path="org/wildfly/security/auth/realm/token/validator"/>
        <exclude path="org/wildfly/security/authz/jacc"/>
        <exclude path="org/wildfly/security/cache"/>
        <exclude path="org/wildfly/security/credential/store/impl"/>
        <exclude path="org/wildfly/security/digest"/>
        <exclude path="org/wildfly/security/http/impl"/>
        <exclude path="org/wildfly/security/http/util/sso"/>
        <exclude path="org/wildfly/security/keystore"/>
        <exclude path="org/wildfly/security/mechanism/digest"/>
        <exclude path="org/wildfly/security/mechanism/oauth2"/>
        <exclude path="org/wildfly/security/mechanism/scram"/>
        <exclude path="org/wildfly/security/password/impl"/>
        <exclude path="org/wildfly/security/password/util"/>
        <exclude path="org/wildfly/security/pem"/>
        <exclude path="org/wildfly/security/sasl"/>
        <exclude path="org/wildfly/security/sasl/anonymous"/>
        <exclude path="org/wildfly/security/sasl/digest"/>
        <exclude path="org/wildfly/security/sasl/digest_private"/>
        <exclude path="org/wildfly/security/sasl/entity"/>
        <exclude path="org/wildfly/security/sasl/external"/>
        <exclude path="org/wildfly/security/sasl/gs2"/>
        <exclude path="org/wildfly/security/sasl/gssapi"/>
        <exclude path="org/wildfly/security/sasl/localuser"/>
        <exclude path="org/wildfly/security/sasl/oauth2"/>
        <exclude path="org/wildfly/security/sasl/otp"/>
        <exclude path="org/wildfly/security/sasl/plain"/>
        <exclude path="org/wildfly/security/sasl/scram"/>
        <exclude path="org/wildfly/security/util"/>
        <exclude path="org/wildfly/security/util_private"/>
        <exclude path="org/wildfly/security/x500"/>
        <exclude path="org/wildfly/security/x500/cert"/>
    </exports>
    -->

    <dependencies>
        <module name="org.wildfly.security.elytron-private" export="true"/>
    </dependencies>
</module>
