<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.jboss.logmanager">
    <resources>
        <artifact name="${org.jboss.logmanager:jboss-logmanager}"/>
    </resources>

    <dependencies>
        <!-- for java.beans -->
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.xml"/>
        <module name="jakarta.json.api"/>
        <module name="io.smallrye.common.constraint"/>
        <module name="io.smallrye.common.cpu"/>
        <module name="io.smallrye.common.expression"/>
        <module name="io.smallrye.common.net"/>
        <module name="io.smallrye.common.os"/>
        <module name="io.smallrye.common.ref"/>
        <module name="org.jboss.modules"/>
    </dependencies>
</module>
