#This job is currently DISABLED
#
#The reason is that it is not possible to have a PR from a branch in  another repository label PRs in
#the target repository. Some details from chat:
#
#It seems I am running into the following problem https://github.com/actions/labeler#pull-request-labeler
#So the provided GITHUB_TOKEN works when I open up a PR from a branch in my repo to master in my repo. But if you do the
#  normal thing, and open an upstream PR from a branch in your fork this token does not allow you to change labels in the
#  upstream PR. I think the token is associated with the fork in which the PR code lives
#There is a workaround where you can add a secret (like an encrypted env var) to the repository. This could contain a
#  Personal Access Token for example. You then reference it using ${secrets.MY_PAT} and it should get passed into
#  the action jobs
#However, when trying this, I only see this having some value in the my-repo-to-my-repo
#  PR case, not in the normal PR case
#So it is starting to feel like this cannot work
#It seems my own secret only is found by GH actions in a similar case.
#  If the PR branch and upstream branch are from the same repo it is found. If not, it is empty
#I will disable this job for now, and enable the TC one again
#Hopefully enough people will cause fuss for GH to fix this eventually

name: Dependency Tree

on:
  pull_request_target:
    branches:
      - master
jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - name: Check versions
        uses: wildfly/dep-tree-diff-action@v1
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          modules: 'core-feature-pack'
          deps-ok-label: 'deps-ok'
          deps-changed-label: 'deps-changed'
          tool-change-mentions: '@wildfly/prod'